<ul class="media-list list-items">
  <li class="media">
    <div class="media-status">
      <span class="badge badge-success">8</span>
    </div>
    <img class="media-object" src="/resources/images/theme/avatar3.jpg" alt="...">
    <div class="media-body">
      <h4 class="media-heading">Bob Nilson</h4>
      <div class="media-heading-sub"> Project Manager </div>
    </div>
  </li>
  <li class="media">
    <img class="media-object" src="/resources/images/theme/avatar1.jpg" alt="...">
    <div class="media-body">
      <h4 class="media-heading">Nick Larson</h4>
      <div class="media-heading-sub"> Art Director </div>
    </div>
  </li>
  <li class="media">
    <div class="media-status">
      <span class="badge badge-danger">3</span>
    </div>
    <img class="media-object" src="/resources/images/theme/avatar4.jpg" alt="...">
    <div class="media-body">
      <h4 class="media-heading">Deon Hubert</h4>
      <div class="media-heading-sub"> CTO </div>
    </div>
  </li>
  <li class="media">
    <img class="media-object" src="/resources/images/theme/avatar2.jpg" alt="...">
    <div class="media-body">
      <h4 class="media-heading">Ella Wong</h4>
      <div class="media-heading-sub"> CEO </div>
    </div>
  </li>
</ul>
